

<a href="/Home/Candidate"><h1 style="text-align:center; ">#VoteMAGA - Coming Soon</h1><!--color:#ebebeb;--></a>

<!--<img src="~/Content/images/landing/trump-flag.png" class="img-responsive" />-->
<img src="~/Content/images/landing/lion-party.png" class="img-responsive" />

<p style="text-align:center; margin-top: 50px; ">Press CTRL+U for ultra rare pepe. Only appears in one out of every 10 million homepage requests.</p>

<!-- Sup dark-->