@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <!-- Help Me-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        Candidate Template
    </title>

    <link rel="Stylesheet" type="text/css" href="~/Content/bootstrap.css">
    <link rel="Stylesheet" type="text/css" href="~/Content/Site.css">


    <style>
        body {
            background-color: #F6F6F6;
        }

        .upcoming {
            color: crimson;
        }

        .jumbotron {
            margin-top: 80px;
            background-image: url('https://snag.gy/ETbkDt.jpg');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position: center;
        }

        .orange {
            background: red;
            border: 2px solid orange;
        }


        .main {
            border: 1px solid lightgrey;
            border-radius: 15px;
            min-height: 400px;
            background-color: white;
        }


        .ameri {
            background-color: #213875;
        }

        .right {
            /*;  */
        }

        h3 {
            text-align: center;
        }

        h2 {
            text-align: center;
        }

        .govnews {
            border: 1px solid lightgrey;
            margin-top: 15px;
            min-height: 300px;
            background-color: white;
        }


        .upfront {
            z-index: 3;
        }

        .thumbnail-noborder {
            border: 0px;
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container ">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand"><span></span> Vote MAGA</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-nav-demo">
                <ul class="nav navbar-nav">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a hrfe="#">FAQ</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Sign Up</a></li>
                    <li><a href="#">Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container upfront">
        <div class="jumbotron">
            <h1 style="color:white;"><i class="fa fa-camera-retro"></i> VOTE MAGA </h1>
            <p style="color:white;"> Informed. American. Patriots. - Use your <b>voice</b> & <b>vote</b> to help <strong>Make America Great Again.</strong></p>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-12 main">
                <div class="row">

                    <div class="thumbnail ">

                        <img src="http://i2.cdn.cnn.com/cnnnext/dam/assets/160118134132-donald-trump-nigel-parry-large-169.jpg">
                    </div>
                    <div class="col-sm-12" align="center"> <h2>Donald Trump</h2></div>

                </div>
                <div class="col-sm-12" align="center">
                    <ul class="list-unstyled" align="center">

                        <!--<li><b> County:XXX</b></li>
                                            <li><b> District:XXX</b></li>
                        -->
                        <li class="upcoming"><b> UPCOMING ELECTION:</b></li>
                        <li class="upcoming"> 11/03/2020</li>
                    </ul>
                    <ul class="list-unstyled">
                        <li><b>DETAILS:</b></li>
                        <li> GOP  NY FEDERAL</li>
                        <li>Executive POTUS </li>
                        <li>County District</li>
                    </ul>

                    <ul class="list-unstyled">

                        <li><a href="#">Website</a></li>
                        <li><a href="tel:5554443333">555-555-5555</a></li>
                        <li><a href="#">Voting Locations</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4  col-md-offset-1 col-sm-12  main ">
                <h2> Policies</h2>
                <ul class="list-unstyled">

                    <li><b>Immigration Reform / Sanctuary Cities</b></li>
                    <li>1 Build the wall  - <b>Yes</b> </li>
                    <li>2 Defund Sanctuary Cities - <b>Yes</b></li>
                    <li>3 Supports the Travel Ban - <b>No</b></li>
                </ul>

                <ul class="list-unstyled">
                    <li> <b>Healthcare reform</b> </li>
                    <li>4 Cross over state lines- <b>No</b></li>
                    <li>5 Defund Planned Parenthood- <b>No</b></li>
                    <li>6 Loosen FDA regulations- <b>No</b></li>
                    <li>7 Cut taxes related to Obamacare- <b>No</b></li>
                    <li>8 Remove the individual mandate- <b>No</b></li>
                </ul>

                <ul class="list-unstyled">
                    <li><b>Trade reform</b></li>
                    <li>9 Pro-bilateral trade deals- <b>No</b></li>
                    <li>10 Remove America from TPP and other large deals- <b>No</b></li>
                </ul>

                <ul class="list-unstyled">
                    <li><b>Tax Reform</b></li>
                    <li>11 Lower corporate rates- <b>No</b></li>
                    <li>12 Simplify the tax code- <b>No</b></li>
                    <li>13 Lower individual income tax rates- <b>No</b></li>
                </ul>

                <ul class="list-unstyled">
                    <li> <b>Second Amendment Rights</b></li>
                    <li>14 Constitutional carry- <b>No</b></li>
                </ul>

                <ul class="list-unstyled">
                    <li><b>Education Reform</b></li>
                    <li>15 School choice/vouchers- <b>No</b></li>
                    <li>16 End common core- <b>No</b></li>
                </ul>

                <ul class="list-unstyled">
                    <li><b>Energy Development</b>
                    <li>17 Energy Independence- <b>No</b></li>
                    <li>18 Paris Agreement- <b>No</b></li>
                    <li>19 EPA- <b>No</b></li>
                </ul>

                <ul class="list-unstyled">
                    <li><b>Drain The Swamp / Anti-Establishment</b></li>
                    <li>20 Term Limits</li>
                    <li>21 5-year Lobby ban after leaving office</li>

                </ul>

            </div>
            <div class="col-md-4 col-md-offset-1  col-sm-12 col=sm-offset-1 main ">

                <H2> At-A-Glance</H2>


                <ul class="list-unstyled">
                    <li><b>Trump Supporter:</b></li>
                    <li><b>Lives In:</b></li>
                    <li><b>Trump Candidate:</b></li>
                    <li><b>Incumbent:</b></li>
                </ul>

                <ul class="list-unstyled">
                    <li><b><a href="#">Candidate Bio</a></b></li>
                </ul>

                <ul class="list-unstyled">
                    <li><b>Age:</b></li>
                    <li><b>Born:</b></li>
                    <li><b>State:</b></li>
                    <li><b>City:</b></li>
                    <li><b>County:</b></li>
                    <li><b>District:</b></li>
                </ul>
                <ul class="list-unstyled">
                    <li><b>Previous Gov Position:</b></li>
                    <li><b>Years In Office:</b></li>
                    <li><b>Notable Acheivements:</b></li>
                </ul>
                <ul class="list-unstyled">
                    <li> Our Summary:</li>
                    <li>
                        <p>
                            Bacon ipsum dolor amet jowl pancetta biltong pork chop short ribs. Short ribs chuck shoulder shank, hamburger prosciutto ham hock tenderloin turducken landjaeger. Tri-tip chuck swine, pancetta ham hock pork chop shankle brisket short ribs filet mignon shank prosciutto. Bacon hamburger drumstick bresaola meatloaf, cow cupim ball tip sausage pig tongue beef ribs fatback flank venison.
                        </p>

                        <p>
                            Kevin tri-tip rump doner. Beef ribs short loin kevin ground round ribeye, tongue ham hock pork shank pig filet mignon capicola shoulder. Pancetta porchetta tail chicken beef ribs filet mignon leberkas kielbasa sausage. Pork chop shankle tail brisket short loin bresaola chicken chuck shoulder pork belly. chicken beef ribs filet mignon leberkas kielbasa sausage. Pork chop shankle tail brisket short loin bresaola chicken chuck shoulder pork belly.
                        </p>
                    </li>
                </ul>


            </div>
        </div>

        <div class="row" style="background-image:url('http://thefederalist.com/wp-content/uploads/2015/07/shutterstock_255908245-998x666.jpg')">
            <div class="col-sm-12 govnews">
                <h3>Official Government News Articles</h3>
                <hr>

                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <a href="#">Official Candidate Website</a> - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    </div>
                    <div class="col-sm-8 col-sm-offset-2">
                        <a href="#">FEC Link</a> - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    </div>
                    <div class="col-sm-8 col-sm-offset-2">
                        <a href="#">Ballotpedia Link</a> -Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    </div>
                    <div class="col-sm-8 col-sm-offset-2">
                        <a href="#"> Gov Link</a> -Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    </div>
                    <div class="col-sm-8 col-sm-offset-2">
                        <a href="#">Gov Link</a> -Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    </div>
                    <hr>


                </div>
            </div>


            <div class="col-sm-12 govnews">
                <h3>Additional Links & Information</h3>
                <hr>



                <div class="row">

                    <div class="col-sm-8 col-sm-offset-2">
                        <a href="#">Wikipedia Link</a> -Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    </div>
                    <div class="col-sm-8 col-sm-offset-2">
                        <a href="#">Facebook</a>
                    </div>
                    <div class="col-sm-8 col-sm-offset-2">
                        <a href="#">Twitter</a>
                    </div>
                    <div class="col-sm-8 col-sm-offset-2">
                        <a href="#">Instragram</a>
                    </div>
                    <div class="col-sm-8 col-sm-offset-2">
                        <a href="#">Tumblr</a>
                    </div>
                    <div class="col-sm-8 col-sm-offset-2">
                        <a href="#">Other</a>
                    </div>
                    <div class="col-sm-8 col-sm-offset-2">
                        <a href="#">Other</a>
                    </div>

                    <hr>

                </div>
            </div>

        </div>
    </div>


    <div class="panel panel-default">

    </div>


    <div class="panel panel-inverse">

        <div class="panel-footer panel-inverse" style="background-color:#101010;">

        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


</body>




</html>